In [350]:
# Import libraries

In [351]:
# ! pip install faker

In [352]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta
from uuid import uuid4
from tqdm import tqdm
from random import randint, uniform
from faker.providers import BaseProvider

In [353]:
fake = Faker()
start_date = datetime.strptime("2005-01-01", "%Y-%m-%d")
end_date = datetime.strptime("2023-12-31", "%Y-%m-%d")

In [354]:
def generate_random_id():
    return(uuid4().hex)

# Data generation

## Customer data

In [355]:
from random import randint, uniform
from faker.providers import BaseProvider

class CameroonPhoneProvider(BaseProvider):
    def phone_number(self):
        """Generates a fake Cameroon phone number in a random format."""
        formats = [
            "+237 65ABCDEFG",
            "+237 67ABCDEFG",
            "+237 68ABCDEFG",
            "+237 69ABCDEFG",
        ]
        format_str = formats[randint(0, len(formats) - 1)]
        phone_number = format_str.replace("A", str(randint(0, 9)))
        phone_number = phone_number.replace("B", str(randint(0, 9)))
        phone_number = phone_number.replace("C", str(randint(0, 9)))
        phone_number = phone_number.replace("D", str(randint(0, 9)))
        phone_number = phone_number.replace("E", str(randint(0, 9)))
        phone_number = phone_number.replace("F", str(randint(0, 9)))
        phone_number = phone_number.replace("G", str(randint(0, 9)))
        return phone_number

fake = Faker()
fake.add_provider(CameroonPhoneProvider)

cam_phone_number = fake.phone_number()
print(cam_phone_number)

+237 652653342

In [356]:
customers_list = []
for i in tqdm(range(10000)):
    first_name = fake.first_name()
    last_name = fake.last_name()
    domain = fake.domain_name()
    email = f"{first_name}.{last_name}@{domain}"
    phone_number = cam_phone_number
    registration_date = fake.date_between(start_date, end_date)
    date_of_birth = fake.date_of_birth(minimum_age=30, maximum_age=75)
    address = fake.address()
    city = random.choice(["Yaoundé", "Douala", "Bafoussam", "Dschang", "Garoua", "Maroua", "Bamenda", "Ngaoundéré", "Nkongsamba", "Limbe", "Bertoua", "Mbouda", "Guider","Foumban", "Tibati", "Buea", "Kumba", "Kribi", "Loum", "Nkambe","Bangangté", "Baham", "Ndikiniméki", "Wum", "Batouri", "Yokadouma", "Mindif", "Meigang", "Abong-Mbang", "Bertoua", "Bogo", "Dir", "Poli", "Mbouda", "Bakoum", "Ngaoundal", "Figuil", "Mayo-Darlé", "Mayo-Rey", "Betaré-Oya", "Guidiguis", "Minjibir", "Mbankomo", "Ntui", "Mengang", "Akonolinga", "Ebolowa", "Abé", "Sangmélima", "Oveng", "Bipindi", "Meyomessé",])
    region = random.choice(["Nord", "Sud", "Est", "Ouest", "Centre", "Littoral", "Adamaoua", "Nord-ouest", "Sud-ouest", "Extrème-nord"])

    date_dict = {
        'customer_id' :generate_random_id(), 
        'first_name': first_name, 
        'last_name': last_name,
        'email': email,
        'phone_number': phone_number,
        'registration_date': registration_date,
        'date_of_birth' : date_of_birth,
        'address': address,
        'city': city,
        'region' : region
        }
    customers_list.append(date_dict)
customer_df = pd.DataFrame(customers_list)
print(customer_df.shape)
customer_df.head()

100%|██████████████████████████████████████████████████████████████████████████| 10000/10000 [00:08<00:00, 1197.97it/s]

(10000, 10)

,customer_id,first_name,last_name,email,phone_number,registration_date,date_of_birth,address,city,region
0,14a1fe388f23400c8062431da4212b73,Valerie,Brown,Valerie.Brown@barr.info,+237 652653342,2020-09-12,1972-05-07,USCGC Harrison\nFPO AP 25106,Limbe,Nord
1,3aa1add42e34414a914aa2f1e27c31eb,Andrew,Martin,Andrew.Martin@anderson-franklin.com,+237 652653342,2023-07-06,1983-04-05,"31723 William Orchard\nWest Brianchester, IL 0...",Akonolinga,Sud-ouest
2,10b01a98480349409694e55d93bde106,John,Reed,John.Reed@gonzalez-delgado.com,+237 652653342,2019-12-07,1988-07-24,"736 Dale Plains\nLake Gregshire, NE 56475",Poli,Sud-ouest
3,c69c84389232403fbb95b388ed379198,Jason,Navarro,Jason.Navarro@bishop.info,+237 652653342,2009-10-15,1966-07-16,"PSC 1776, Box 3221\nAPO AE 72182",Sangmélima,Nord
4,347050cadaad48f2ac9b7af6febe2047,Zachary,Moore,Zachary.Moore@mendez.com,+237 652653342,2013-08-04,1979-12-09,"09245 Edwards Manors\nLisatown, WI 31762",Foumban,Littoral

In [357]:
customer_df.to_csv('customers.csv' , index = False)

## Device data

In [358]:

#creation de id

def create_id():
    return str(uuid4())

#creation des types d'appareils
def generate_device_type():
    return random.choice(['mobile', 'tablette'])

#creation des os

def generate_os():
    return random.choice(['android', 'ios', 'mac', 'windows', 'linux'])

#creation des fabricants
manufacturer_and_model={
                        'dell':['XPS 13', 'INSPIRON 15', 'LATITUDE 7410', 'PRECISION 5550'],
                        'HP': ['spectre x360', 'envy 13', 'pavillon 15', 'OMEN 15'],
                        'LG': ['spectre x3670', 'envy45','Gram 17', 'Wing 5G', ' NanoCell TV'],
                        'SONY':['Xperia 1 III', 'Xperia 5 II', 'Bravia OLDE', 'VAIO SX14'],
                        'Apple':['iphone 13', 'ipad pro', 'iphone Xr'],
                        'Sharp':['Aquos R6', 'aquos sense 5g', ' dynabook v8']
                        }
#def generate_manufacturer():
    #return random.choices(['dell', 'hp', 'lg', 'sony', 'apple', 'sharp', 'lenovo', 'acer', 'tecno','itel', 'huawei', 'samsung', 'google'])

#creation des modeles

def generate_model(type):
    return random.choice(manufacturer_and_model[type])

#creation de la table devices

def create_devices_table(lenght= 100000):

    devices= pd.DataFrame()

    # les listes
    device_id_list=[]
    devices_type_list=[]
    devices_manufacturer_list=[]
    devices_model_list=[]
    devices_last_used_list=[]
    devices_os_list=[]

    #generer les valeurs
    for i in tqdm(range(lenght)):
        devices_id=create_id()
        devices_type= generate_device_type()
        devices_last_used= fake.date_time_between(start_date= '-5y', end_date='now')
        devices_os= generate_os()
        devices_manufacturer= random.choice(list(manufacturer_and_model.keys()))
        devices_model= generate_model(devices_manufacturer)

        #ajout dans les listes
        device_id_list.append(devices_id)
        devices_type_list.append(devices_type)
        devices_model_list.append( devices_model)
        devices_manufacturer_list.append( devices_manufacturer)
        devices_last_used_list.append(devices_last_used)
        devices_os_list.append(devices_os)
        
     #assigner aux colonnes de la table devices
    devices['device_id']= device_id_list
    devices['device_type']= devices_type_list
    devices['os']= devices_os_list
    devices['manufacturer']= devices_manufacturer_list
    devices['model']= devices_model_list
    devices['last_used']= devices_last_used_list

    return devices

devices= create_devices_table()
devices

100%|███████████████████████████████████████████████████████████████████████| 100000/100000 [00:03<00:00, 26508.72it/s]

,device_id,device_type,os,manufacturer,model,last_used
0,80131790-83e2-4333-b827-80f57ec348e2,mobile,ios,HP,OMEN 15,2019-12-11 22:54:47
1,d2c2a4a4-6047-444f-84b0-8f5bd0293c8c,mobile,mac,dell,LATITUDE 7410,2020-05-11 22:18:34
2,76371fff-2464-4138-913f-1d6877a73597,mobile,windows,LG,Wing 5G,2022-05-14 18:15:55
3,f8a9f844-7c03-4aea-8056-c43eabd7a452,mobile,mac,Sharp,aquos sense 5g,2020-01-17 08:50:55
4,5f124d59-0689-464e-871c-4572016b5a0d,mobile,ios,Sharp,dynabook v8,2020-12-06 08:49:06
...,...,...,...,...,...,...
99995,d452c4ad-26b5-4072-9caa-606904102a42,tablette,android,Sharp,aquos sense 5g,2022-02-24 18:42:36
99996,930371c7-6b1b-451c-bac4-51795bf8d221,mobile,android,Sharp,dynabook v8,2023-06-25 20:44:09
99997,cd9b8b02-9b25-44ee-813f-486a173ebd80,mobile,windows,LG,spectre x3670,2020-09-23 01:22:36
99998,0b30eec3-9abe-4d4e-9376-edddba3051a8,tablette,android,Apple,iphone 13,2023-11-05 03:14:01
99999,f74a2e25-4111-4146-a628-99fbab428a44,mobile,mac,Apple,ipad pro,2023-06-23 19:28:24

In [359]:
devices.to_csv('devices.csv', index= False )

## Transaction data

In [360]:
transaction_list=[]
customer_id_list = customer_df["customer_id"]

for i in tqdm(range(100000)):
    transaction_id = generate_random_id()
    customer_id = random.choice(customer_id_list)
    transaction_type = random.choice(["retrait", "depôt", "transfert"])
    amount = uniform(100, 10000000)
    transaction_date = fake.date_between(start_date, end_date)
    location = fake.address()
    device_id = random.choice(devices["device_id"])
    status = random.choice(["échouée", "réussie"])
    is_fraud = random.choice([0,1])

    transaction_dict = {
        "transaction_id": transaction_id,
        "customer_id": customer_id,
        "transaction_type": transaction_type,
        "amount": amount,
        "transaction_date": transaction_date,
        "location": location,
        "device_id": device_id,
        "status": status,
        "is_fraud": is_fraud
    }

    transaction_list.append(transaction_dict)

transaction_df = pd.DataFrame(transaction_list)
print(transaction_df.shape)
transaction_df.head()

100%|████████████████████████████████████████████████████████████████████████| 100000/100000 [00:34<00:00, 2940.79it/s]

(100000, 9)

,transaction_id,customer_id,transaction_type,amount,transaction_date,location,device_id,status,is_fraud
0,853ba1dffb0d45fdb62bde24cae9dbe3,bd31ffb6d70f461d84edc2d05f021bb8,depôt,7.490095e+05,2010-05-19,"44889 Stephanie Locks\nEast Laurenfurt, WY 33621",7e4e1225-e869-4dd8-a748-781aefbe121a,réussie,1
1,008854ec5dc04f0db532ef5d57286939,3f6ab35ac8be4a19920d5df6206c591e,depôt,6.241279e+05,2023-07-22,"50248 James Underpass\nHeatherberg, OK 90192",bcb0024e-4313-4a5e-879b-8eb4ff7b0cee,échouée,0
2,bc8034bd54fd4c3697865b4398588abd,322f3b9ee74846c2a784d95b1ebdfe14,transfert,5.677360e+06,2010-05-09,427 Jennifer Points Suite 474\nWest Jenniferbe...,6517e028-7fa4-40c3-bc89-f5cfcab13f94,échouée,1
3,f311ec3db27444579df9f86eae190f25,7e9f4ae12a584757bf14f08dc5a6e4bb,retrait,1.387470e+06,2022-02-20,81823 Wilson Squares Suite 632\nEast Valeriebu...,e1911217-8b4f-4574-a10d-8517b00102ca,réussie,1
4,77a502f6772c43a9894cf1b8e643edb8,27301594ea364e408fd087af443f7e18,transfert,6.806431e+06,2021-09-12,"63307 Travis Keys\nAnthonymouth, CO 53436",e8574cfe-7f25-4ec7-a43e-1a8552be3391,réussie,0

In [361]:
transaction_df.to_csv('transactions.csv', index= False)

## Transaction history data

In [362]:
transaction_history_list = []

for i, transaction in transaction_df.iterrows():
    history_id = generate_random_id()
    customer_id = transaction.customer_id
    transaction_id = transaction.transaction_id
    previous_balance = transaction.amount + uniform(0, 10000000)

    if transaction.transaction_type == "depôt":
        new_balance = previous_balance + transaction.amount
    else:
        new_balance = previous_balance - transaction.amount
        
    transaction_date = transaction.transaction_date

    transaction_history_dict = {
        "history_id" : history_id,
        "customer_id" : customer_id,
        "transaction_id" : transaction_id,
        "previous_balance" : previous_balance,
        "new_balance" : new_balance,
        "transaction_date": transaction_date
    }
    transaction_history_list.append(transaction_history_dict)

transaction_history_df = pd.DataFrame(transaction_history_list)
print(transaction_history_df.shape)
transaction_history_df.head()

(100000, 6)

,history_id,customer_id,transaction_id,previous_balance,new_balance,transaction_date
0,4b60b4bb60bf4c6eac7bcad6cb0ce2b5,bd31ffb6d70f461d84edc2d05f021bb8,853ba1dffb0d45fdb62bde24cae9dbe3,9.053505e+06,9.802514e+06,2010-05-19
1,d58c6e2a0fa54e5fa06438bff0b544ed,3f6ab35ac8be4a19920d5df6206c591e,008854ec5dc04f0db532ef5d57286939,4.978496e+06,5.602624e+06,2023-07-22
2,4f52fbbc5b30479cb36aee14ea1526a1,322f3b9ee74846c2a784d95b1ebdfe14,bc8034bd54fd4c3697865b4398588abd,1.000243e+07,4.325070e+06,2010-05-09
3,aa2c6c90cb51421ababcec694f79dc45,7e9f4ae12a584757bf14f08dc5a6e4bb,f311ec3db27444579df9f86eae190f25,6.056308e+06,4.668838e+06,2022-02-20
4,8ce763d70e2f476abcf7b539950dedec,27301594ea364e408fd087af443f7e18,77a502f6772c43a9894cf1b8e643edb8,1.076785e+07,3.961414e+06,2021-09-12

In [363]:
transaction_history_df.to_csv('transaction_history.csv', index = False )

## Transaction pattern data

In [364]:
customer_id_list = customer_df["customer_id"]
print(customer_id_list)

0       14a1fe388f23400c8062431da4212b73
1       3aa1add42e34414a914aa2f1e27c31eb
2       10b01a98480349409694e55d93bde106
3       c69c84389232403fbb95b388ed379198
4       347050cadaad48f2ac9b7af6febe2047
                      ...
9995    0b0b0912414841c7b059615cd0caa26a
9996    7c9aab00421641daa551af8a2d406548
9997    5625f0ca289a4bfa8933c0d7bc1abc89
9998    533cd4deab9a40be890a63a4726e1609
9999    6fbe010b4bd44634ade2112e9c4a585b
Name: customer_id, Length: 10000, dtype: object

In [365]:
import numpy as np
import pandas as  pd 
import random
from faker import Faker
from uuid import uuid4
from tqdm import tqdm

faker= Faker()

# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer un montant moyen aléatoire
def generate_average_amount():
    return round(random.uniform(5.0, 1000.0), 2)

# Fonction pour générer une fréquence de transactions aléatoire
def generate_frequency():
    return random.randint(1, 30)

# Fonction pour générer une localisation fréquente aléatoire
def generate_most_common_location():
    return faker.city()

# Fonction pour générer un appareil le plus utilisé aléatoire
def generate_most_common_device():
    return random.choice(['mobile', 'tablette'])

# Fonction pour créer une table de transaction patterns
def create_transaction_patterns_table(length=100000):

    transaction_patterns = pd.DataFrame()

    # Les listes
    pattern_id_list = []
    customer_id_list = customer_df["customer_id"].tolist()
    average_amount_list = []
    frequency_list = []
    most_common_location_list = []
    most_common_device_list = []
    foreign_key_list=[]  # liste des cles etrangeres qui seront aleatoirement choisies

    # Générer les valeurs
    for i in tqdm(range(length)):
        pattern_id = create_id()
        customer_id = random.choice(customer_id_list) 
        average_amount = generate_average_amount()
        frequency = generate_frequency()
        most_common_location = generate_most_common_location()
        most_common_device = generate_most_common_device()

        # Ajouter dans les listes
        pattern_id_list.append(pattern_id)
        foreign_key_list.append(customer_id)
        average_amount_list.append(average_amount)
        frequency_list.append(frequency)
        most_common_location_list.append(most_common_location)
        most_common_device_list.append(most_common_device)
    
    # Assigner aux colonnes de la table transaction patterns (en dehors de la boucle)
    transaction_patterns['pattern_id'] = pattern_id_list
    transaction_patterns['customer_id'] = foreign_key_list
    transaction_patterns['average_amount'] = average_amount_list
    transaction_patterns['frequency'] = frequency_list
    transaction_patterns['most_common_location'] = most_common_location_list
    transaction_patterns['most_common_device'] = most_common_device_list

    return transaction_patterns

# Créer une table de transaction patterns
transaction_patterns = create_transaction_patterns_table()

# Afficher les premières lignes de la table transaction patterns
transaction_patterns

100%|████████████████████████████████████████████████████████████████████████| 100000/100000 [00:12<00:00, 8017.56it/s]

,pattern_id,customer_id,average_amount,frequency,most_common_location,most_common_device
0,cee332cf-0971-4179-a114-547c9b2adf50,d946e14f11da4804af3654f5cd46cc53,18.61,21,Michaelport,tablette
1,10e51d93-fe06-46a8-b47c-8bc224c0bed8,c8c8268fa6dd4f9d8d4ed66b8cf5692b,411.37,24,Johnville,mobile
2,afb9bbd9-0ad8-42f1-8f97-c38a8c6eea88,255a3983effc4163b6cd885e7bd34974,43.72,28,Hobbsborough,mobile
3,397f42bf-cc14-433e-807b-15a200d53ed9,52f038275e15437c8d8005b974800466,261.35,27,Gutierrezshire,tablette
4,645cdb5c-4085-4eba-aa7f-4cfb44bc6560,d75d58310cfd45fbbaf5676fd3db123f,248.85,19,Blackburgh,tablette
...,...,...,...,...,...,...
99995,9613d25e-a486-4ca7-8ea4-54d2b84d6bf9,5494a6bb9cef4715a0fa5f60a3ac0c22,267.67,21,New Jameston,tablette
99996,d24b9fde-fbf8-4eac-9ace-7a6e15314250,33d53deae11f431b808307b522b88e77,866.99,27,Tonyberg,mobile
99997,4d7055a8-8ec6-4146-90d5-d733b6971ba0,b25f6572fa5f4cf78e260c911dba9d6e,636.35,13,New Kaitlynside,mobile
99998,909eaed1-53cd-4302-9d28-c3e65ee19ca5,ee3ef4669a1847faa212c317a6aefad9,738.72,30,North Anthony,tablette
99999,3b441103-3953-41d7-b9e8-b30ea8a9d0fe,0ebe42f383df415d8af3ae06d581827f,689.33,15,East Angela,tablette

In [366]:
transaction_patterns.to_csv('transaction_patterns.csv', index= False )

## alerts data

In [367]:
#importation des bibliothèques 
import pandas as pd
from faker import Faker 
import random 
import numpy as np 
import uuid
#initialisation de faker 
fake = Faker()
fake = Faker("fr_FR")

In [368]:
# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer une date et heure aléatoire
def generate_alert_date():
    return faker.date_time_between(start_date='-5y', end_date='now')

# Fonction pour générer un type d'alerte aléatoire
def generate_alert_type():
    return random.choice(['suspicious activity', 'large transaction'])

# Fonction pour générer un statut d'alerte aléatoire
def generate_alert_status():
    return random.choice(['open', 'closed'])

# Fonction pour générer une description d'alerte aléatoire
def generate_description():
    return faker.text(max_nb_chars=250)

# Fonction pour créer une table d'alertes
def create_alerts_table(length=100):

    alerts = pd.DataFrame()

    # Les listes
    alert_id_list = []
    transaction_id_list = transaction_df["customer_id"].tolist()
    alert_date_list = []
    alert_type_list = []
    alert_status_list = []
    description_list = []
    foreign_key_alerts_list=[]

    # Générer les valeurs
    for i in tqdm(range(length)):
        alert_id = create_id()
        transaction_id = random.choice(transaction_id_list) # Remplacer par un identifiant de transaction réel si disponible
        alert_date = generate_alert_date()
        alert_type = generate_alert_type()
        alert_status = generate_alert_status()
        description = generate_description()

        # Ajouter dans les listes
        alert_id_list.append(alert_id)
        foreign_key_alerts_list.append(transaction_id)
        alert_date_list.append(alert_date)
        alert_type_list.append(alert_type)
        alert_status_list.append(alert_status)
        description_list.append(description)
    
    # Assigner aux colonnes de la table alerts (en dehors de la boucle)
    alerts['alert_id'] = alert_id_list
    alerts['transaction_id'] = foreign_key_alerts_list
    alerts['alert_date'] = alert_date_list
    alerts['alert_type'] = alert_type_list
    alerts['alert_status'] = alert_status_list
    alerts['description'] = description_list

    return alerts

# Créer une table d'alertes
alerts = create_alerts_table()

# Afficher les premières lignes de la table alerts
alerts

100%|███████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 258.29it/s]

,alert_id,transaction_id,alert_date,alert_type,alert_status,description
0,ca09b3ee-b25e-401a-bbf2-f95e2dd15902,60cb49b1bb3d45b0be7f8dbcc12d5689,2024-03-22 21:07:31,large transaction,open,Choose call able pattern maintain internationa...
1,c1c58df2-23e3-4786-8a60-155aa1bee11f,f4f38ecc1dce477f9670d09b25f67c69,2021-02-22 07:28:26,large transaction,open,Reduce maybe anyone probably ahead avoid party...
2,f0577f82-fd17-4382-8118-e2aa5e9c0360,dacb8734c8db4e1f904d91d227092043,2020-09-22 12:20:51,large transaction,open,Sea animal wife summer. Kind whether center we...
3,fa1afefe-b1a8-4853-abd1-dbf55e4adfc6,f6eca0924d814c89ac7e0657f6e6da54,2023-07-22 01:03:05,large transaction,closed,Call have state better production. Information...
4,3f56787e-e0b0-4e7e-9e12-d0283f8e5cc3,9b08e2e66cb2408c8a8e5de8adfdace3,2024-02-21 07:28:12,suspicious activity,open,Himself become each prepare win reveal case. L...
...,...,...,...,...,...,...
95,7642dbbf-a0b5-4dfe-95c6-80843560dc8d,5b7a23676a934e00a63e4f46715daf8c,2022-04-14 16:13:12,suspicious activity,closed,Air if commercial president provide fill groun...
96,0da0944e-b098-4aa9-88fa-2df48ae3d6fe,bac6cc4dd3e9484e99f40eff395d026b,2024-04-21 07:41:54,large transaction,closed,Laugh plan throw while which else according. S...
97,29436b7c-9de2-49ed-8a21-6b1a1a0e73f9,bfc27de185304c25933d7e5eb32addc9,2020-03-13 08:15:02,large transaction,closed,Eye theory bar notice executive TV address wit...
98,9c839662-4815-4e96-aa72-6202a1fe92da,89e052819b95495aa7d0e0550ab9e260,2023-05-01 06:55:45,suspicious activity,closed,Too political listen why. Certainly surface be...
99,ff9b2609-1ab0-4311-bfcd-9f69dc7ffa30,f2882a8c2cbe48859cefdfae78fef507,2020-05-14 19:32:06,suspicious activity,closed,Wish attorney worker case.\nUs establish stage...

In [369]:
alerts.to_csv('alerts.csv' , index= False )

## fraude_cases data

In [370]:
#importation des bibliothèques 
import pandas as pd
from faker import Faker 
import random 
import numpy as np 
import uuid
#initialisation de faker 
fake = Faker()
fake = Faker("fr_FR")

In [371]:

def generate_ID():
  return uuid.uuid1().hex

#création des listes vides 
  transaction_id_list = transaction_df["transaction_id"].tolist()
  customer_id_list = customer_df["customer_id"].tolist()
#génération des données
nb = 1000
Data = {
   "Case_id":[ generate_ID() for i in tqdm(range(nb))],
   "transaction_id" :[ transaction_id_list for i in tqdm(range(nb))],
    "customer_id" :[customer_id_list for i in tqdm(range(nb))],
    "fraud_type" : [random.choice(["identity theft" ,"account takeover"]) for i in tqdm(range(nb))],
    "detection_Date" :[fake.date() for i in tqdm(range(nb))],
    "resolution_statut" :[random.choice(["pending" , " resolved"]) for i in tqdm(range(nb))],
    "text_comment" : [fake.text() for i in tqdm(range(nb))],
                       
       }

# impression du dataframe
fraud_df = pd.DataFrame(Data)
fraud_df

100%|███████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 90937.36it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 500453.88it/s]
100%|█████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 1003182.01it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 499857.47it/s]
100%|███████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 22233.38it/s]
100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 500633.09it/s]
100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 4362.47it/s]

,Case_id,transaction_id,customer_id,fraud_type,detection_Date,resolution_statut,text_comment
0,b6a7d2ae422311ef9aaeacb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,identity theft,2023-06-02,resolved,Changer propre deviner roche tôt. Anglais sûr ...
1,b6a7d2af422311efb04cacb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,account takeover,1991-11-09,resolved,Arrivée cruel étouffer puis envie. Mieux clef ...
2,b6a7d2b0422311efa0abacb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,account takeover,1973-09-25,pending,Changement auquel ordre magnifique ni avouer m...
3,b6a7d2b1422311efa6c3acb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,identity theft,1979-09-26,pending,Jeunesse dépasser froid supposer. Mien propose...
4,b6a7d2b2422311efbcccacb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,identity theft,2023-01-22,resolved,Rencontre roche compte certes parler asseoir d...
...,...,...,...,...,...,...,...
995,b6a95954422311ef9d4eacb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,identity theft,2006-08-10,pending,Autrefois cabinet presque le retirer. Reculer ...
996,b6a95955422311ef97d0acb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,identity theft,1971-02-25,pending,Pas nez trait compagnie toit. Circonstance ser...
997,b6a95956422311efbf2aacb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,account takeover,2015-02-06,resolved,Avouer surveiller apparaître moyen compagnie b...
998,b6a95957422311ef93e5acb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,account takeover,2022-02-02,resolved,Compter goutte chemise tuer par diriger folie....
999,b6a95958422311ef9d84acb57da6502b,"[6aaa91da6a5a47ae8d0d7f8a5b803826, fd1a77049a0...",0 14a1fe388f23400c8062431da4212b73 1 ...,identity theft,2003-02-25,resolved,Visible proposer mort souffrir satisfaire dava...

In [ ]:
fraud_df.to_csv('fraude_table' , index = False)

## regions data

In [ ]:
import pandas as pd
import numpy as np
import random
from faker import Faker

In [ ]:
#initialisation de faker 
fake = Faker()
fake = Faker("fr_FR")

In [ ]:
#génération des données 
nb= 10000 # nombres de données à générer

Data = { 
    "Id_Region":[fake.random_int(min=1 , max=10) for i in range(nb)],
    "Name_Region":[fake.random_element(["Adamaoua","Centre","Est","Sud","Littoral","Nord","Sud-Ouest","Ouest","Extreme_Nord","Nord_Ouest"]) for i in range(nb)],
    "Country":[fake.country() for i in range(nb)],
    }

In [126]:
#impression du DataFrame
Df = pd.DataFrame(Data)
Df

      Id_Region   Name_Region                        Country
0             3     Sud-Ouest  Micronésie (États fédérés de)
1            10      Adamaoua                       Belgique
2             8           Est                    Philippines
3             1           Sud                        Grenade
4             5  Extreme_Nord                       Zimbabwe
...         ...           ...                            ...
9995          7  Extreme_Nord       Saint Pierre et Miquelon
9996          7        Centre                          Chili
9997          5  Extreme_Nord                       Jamaïque
9998          9    Nord_Ouest                         Taiwan
9999          8           Sud                     Madagascar

[10000 rows x 3 columns]

In [75]:
from glob import glob

list_data = glob('../Data/Train/*')
print(list_data)

[]

In [76]:
import os 
os.sep

'\\'

In [77]:
list_data[0].split(os.sep)[-1].split('.')[0]

IndexError: list index out of range